<!DOCTYPE html>
<html>
<head>
    <title>伙伴们</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/mdl/material.min.css">
    <script src="/mdl/material.min.js"></script>
    <!--link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"-->
    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <style type="text/css">
        .avatar {
            border-radius: 50%;
            border: 4px solid white;
            height: 128px;
            width: 128px;
        }
        .avatar:hover {
            transform: rotate(360deg);
            -webkit-transition: all 1s ease-in-out;
            -moz-transition: all 1s ease-in-out;
            -o-transition: all 1s ease-in-out;
            -ms-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out;
        }
        .card-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        .card {
            margin: 10px;
            text-align: center;
        }
        .avatar-wrapper {
            text-align: center;
            position: relative;
            top: -83px;
            margin-bottom: -83px;
            padding: 8px 16px;
        }
        .user-info .mdl-card__title-text {
            display: block;
        }
        .profile-bg {
            background-size: cover;
            height: 200px;
        }
        .badge-type-bronze .fa{
            color: #cd7f32;
        }
        .badge-type-silver .fa{
            color: silver;
        }
        .badge-type-gold .fa{
            color: gold;
        }
        .user-badges {
            display: flex;
            justify-content: center;
            align-content: space-around;
            padding: 4px 0;
        }
        .user-badge {
            font-size: .8rem;
            border: 1px solid;
            border-radius: 3px;
            padding: 2px;
            margin: 4px 5px;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            white-space: nowrap;
            position: relative;
            overflow: hidden;

            text-decoration: none;
            color: rgba(0,0,0,.54);
        }
        .user-badge:hover {
            color: black;
        }
        .badge-type-bronze {
            border-color: #cd7f32;
        }
        .badge-type-silver {
            border-color: silver;
        }
        .badge-type-gold {
            border-color: gold;
        }
        .user-badge:after {
            content: "";
            position: absolute;
            top: -110%;
            left: -210%;
            width: 200%;
            height: 200%;
            opacity: 0;
            transform: rotate(10deg);

            background: rgba(255, 255, 255, 0.13);
            background: linear-gradient(
                    to right,
                    rgba(255, 255, 255, 0.13) 0%,
                    rgba(255, 255, 255, 0.13) 67%,
                    rgba(255, 255, 255, 0.8) 92%,
                    rgba(255, 255, 255, 0.0) 100%
            );
        }

        /* Hover state - trigger effect */

        .user-badge:hover:after {
            opacity: 1;
            top: -30%;
            left: -30%;
            transition-property: left, top, opacity;
            transition-duration: 0.7s, 0.7s, 0.15s;
            transition-timing-function: ease;
        }

        /* Active state */

        .user-badge:active:after {
            opacity: 0;
        }

        .user-links {
            padding:8px 16px;
            display: flex;
            justify-content: center;
        }
        .user-links a {
            padding: 0 4px;
            font-size: 1.3rem;
            color: #555555;
            display: inline-block;
            -webkit-transition: all 0.1s ease-in-out;
            -moz-transition: all 0.1s ease-in-out;
            -o-transition: all 0.1s ease-in-out;
            -ms-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out;
        }
        .user-links .linkedin:hover {
            color: #0976b4;
        }
        .user-links .weibo:hover {
            color: #e6162d;
        }
        .user-links .wechat {
            font-size: 1.2rem;
        }
        .user-links .wechat:hover {
            color: rgb(129,224,86);
        }
        .user-links .email {
            font-size: 1.2rem;
        }
        .user-links .email:hover {
            color: rgb(255,230,129);
        }
        .user-links .website:hover {
            color: rgb(64,133,244);
        }

        .user-links a:hover {
            margin: 0 9px;
            transform:scale(2,2); /* W3C */
            -webkit-transform:scale(2,2); /* Safari and Chrome */
            -moz-transform:scale(2,2); /* Firefox */
            -ms-transform:scale(2,2); /* IE 9 */
            -o-transform:scale(2,2); /* Opera */
        }

        .user-bio {
            padding: 8px 16px 16px 16px;
        }
    </style>
</head>
<body>
<div class="mdl-layout">

    <main class="mdl-layout__content">
        <div class="card-container">
            <%
            userDetails.forEach(function(userJson, key) {
                "use strict"
                if(filter && !filter(userJson, key)) {
                    return;
                }
                /**
                 * Returns a random integer between min (inclusive) and max (inclusive)
                 * Using Math.round() will give you a non-uniform distribution!
                 */
                function getRandomInt(min, max) {
                    return Math.floor(Math.random() * (max - min + 1)) + min;
                }
                userJson.avatar128 = userJson.avatar_template.replace("{size}", "128");
                var backgroundImg;
                if (userJson.card_background) {
                    backgroundImg = rootUrl + userJson.card_background
                } else {
                    backgroundImg = "/images/mountain" + getRandomInt(0, 4) + ".png"
                }
            %>
            <div class="mdl-card mdl-shadow--4dp card">
                <div class="profile-bg" style=" background-image: url('<%= backgroundImg %>')">
                </div>
                <div class="avatar-wrapper">
                    <a target="_blank" href="http://www.chuangxue.org/users/<%= userJson['username'] %>/activity"><img class="avatar" src="<%= rootUrl + userJson['avatar128']%>"></a>
                </div>
                <div class="user-info">
                    <h2 class="mdl-card__title-text"><%= userJson['name'] %></h2>
                </div>
                <% if (userJson.linkedin || userJson.weibo || userJson.wechat || userJson.email || userJson.website) {%>
                <div class="user-links">
                    <% if(userJson.linkedin) { %>
                    <a class="linkedin" href="<%= userJson.linkedin %>" target="_blank"><i class="fa fa-linkedin"></i></a>
                    <%}%>
                    <% if(userJson.weibo) { %>
                    <a class="weibo" href="<%= userJson.weibo %>" target="_blank"><i class="fa fa-weibo"></i></a>
                    <%}%>
                    <% if(userJson.wechat) { %>
                    <a class="wechat" id="wechat-<%=userJson.id%>"><i class="fa fa-wechat"></i></a>
                    <span class="mdl-tooltip mdl-tooltip--top" for="wechat-<%=userJson.id%>"><%=userJson.wechat%></span>
                    <%}%>
                    <% if(userJson.email) { %>
                    <a class="email" id="email-<%=userJson.id%>"><i class="fa fa-envelope"></i></a>
                    <span class="mdl-tooltip mdl-tooltip--top" for="email-<%=userJson.id%>"><%=userJson.email%></span>
                    <%}%>
                    <% if(userJson.website) { %>
                    <a class="website" id="website-<%=userJson.id%>" href="<%=userJson.website%>" target="_blank"><i class="fa fa-home"></i></a>
                    <span class="mdl-tooltip mdl-tooltip--top" for="website-<%=userJson.id%>"><%=userJson.website%></span>
                    <%}%>
                </div>
                <%}
                if(userJson.badges) {
                %>
                <div class="user-badges">
                    <%
                    userJson.badges.forEach(function(oneBadge) {
                        let badgeTypeClass;
                        switch (oneBadge.type) {
                            case 1:
                                badgeTypeClass = "badge-type-gold";
                                break;
                            case 2:
                                badgeTypeClass = "badge-type-silver";
                                break;
                            case 3:
                                badgeTypeClass = "badge-type-bronze";
                                break;
                            default:
                                badgeTypeClass = "badge-type-bronze";
                                break;
                        }
                    %>
                    <a href="/people?badgeId=<%=oneBadge.id%>" class="user-badge <%= badgeTypeClass %>" title="<%= oneBadge.description %>">
                        <i class="fa <%= oneBadge.icon %>"></i>
                        <span class="badge-desc"><%= oneBadge.name %></span>
                    </a>
                    <%
                    });
                    %>
                </div>
                <%}%>
                <div class="mdl-card__supporting-text user-bio">
                    <span><%= userJson['bio'] %></span>
                </div>
            </div>
            <%
            });
            %>
        </div>
    </main>
</div>

</body>
</html>
